.section {
  padding: 40px;
  width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #EDE8F5, #e3dcf1);
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    z-index: 1;

}

.heading {
  text-align: center;
  font-size: 48px;
  color: #3d52a0;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 30px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.lottieContainer {
  flex: 1 1 40%;
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperWrapper {
  flex: 1 1 60%;
  max-width: 60%;
}

/* Tablet & below */
@media (max-width: 1024px) {
  .heading {
    font-size: 40px;
  }

  .lottieContainer {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .swiperWrapper {
    max-width: 100%;
  }

  .contentWrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* Small devices */
@media (max-width: 600px) {
  .heading {
    font-size: 32px;
  }

  .section {
    padding: 20px;
  }
}