/* src/Components/Dashboard/ChatbotWidget.module.css */
.chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .chatbot button {
    background-color: #3D52A0;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
  }
  
  .chatbot button:hover {
    background-color: #7091E6;
  }